<div class="container" style="margin-top:30px">
    <div class="row">
      
      <div class="col-sm-12">
       
        <h2>Stacked form</h2>
        <form action="/loginimpl" method="post">
          <div class="form-group">
            <label for="email">ID:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="id">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>