<script>
  let link3 = {
      init:function(){
        $('#get').click(()=>{
          this.send();
        });
      },
      send:function(){
          $.ajax({
              url:'/link3/getdata',
              dataType:'json',
              success:(result)=>{
                this.display(result);
              }
          });
      },
      display:function(data){
         let result;
         $(data).each((idx,data)=>{
            result += '<tr>';
            result += '<td>'+data.id+'</td>';
            result += '<td>'+data.name+'</td>';
            result += '</tr>';
         });
         $('#result > tbody').html(result);
      }
  };

  $(function(){
     link3.init();
  });
</script>

<div class="container" style="margin-top:30px">
    <div class="row">
      
      <div class="col-sm-12">
       
        <h2>Link3 HEADING</h2>
        <button id="get" type="button" class="btn btn-outline-primary">Get</button>
        <table id="result" class="table table-dark table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>NAME</th>
            </tr>
          </thead>
          <tbody>
           
          </tbody>
        </table>
      </div>
    </div>
</div>